* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.top {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    min-height: 768px;
}

.top__back {
    background-image: url(img/illustration.png);
    background-repeat: no-repeat;
    background-position: 95% bottom;
    height: 90%;
    background-size: 47%;
}

.top__content {
    width: 504px;
    margin-top: 107px;
}

.top__heading {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    color: #1F3F68;
    margin-bottom: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.text_margin-bottom {
    margin-bottom: 71px;
    max-width: 500px;
}

.text_margin-bottom_project {
    margin-left: 17%;
    margin-bottom: 64px;
    width: 66%;
    text-align: center;
    color: #222222;
}

.button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5a98d0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    display: inline-block;
}

.button:hover {
    background: #316099;
}

.btn_ftr {
    padding: 15px 80px;
}

.btn_ftr:hover {
    border: 1px solid white;
}

.heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    margin-top: 64px;
    margin-bottom: 32px;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}

.product-box {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
}

.product {
    width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
    display: flex;
    flex-direction: column;
}

.product__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    margin-top: 30px;
    display: flex;
}

.product__img {
    align-self: center;
    margin-bottom: 51px;
}

.product__img_big {
    margin-top: -30px;
}

.product__arrow {
    margin-left: 20px;
}

.image_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overlay_top {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background: linear-gradient(89.97deg, #1F3F68 3.62%, rgba(31, 63, 104, 0.37) 97.78%);
}
.overlay_top:hover {
    background: url("img/Group.png") no-repeat;
    z-index: 2;
}

.overlay_bottom {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background: linear-gradient(316.94deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
}
.overlay_bottom:hover {
    background: transparent;
    z-index: 2;
}

.image_on_image {
    position: absolute;
}

.text_on_image {
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 32px;
    line-height: 46px;
    color: #FFFFFF;
    z-index: 1;
}

.text_on_small_image {
    top: 32px;
    left: 32px;
    font-size: 28px;
    line-height: 46px;
}

.image_border {
    border-radius: 10px;
}

.image_content_margin {
    margin-bottom: 32px;
}

.image_content_footer {
    margin-bottom: 112px;
}

.footer {
    position: relative;
    width: 100%;
    height: 657px;
    background: #316099;
}

.footer_btn {
    position: absolute;
    top: 165px;
    right: 7%;
}

.footer_top {
    height: 60%;
}

.border {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer_bottom {
    height: 30%;
    margin: 0 7% 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text_on_footer {
    position: absolute;
    width: 340px;
    color: #FFFFFF;
    margin: 0;
    top: 91px;
    left: 7%;
}

.text_footer_top {
    width: 495px;
    top: 215px;
}

.text_footer_bottom {
    color: #FFFFFF;
    margin-right: 30px;
}

.part_box {
    display: flex;
    justify-content: flex-start;
    width: 25%;
    color: #FFFFFF;
}

.all_rights {
    position: absolute;
    left: 7%;
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.4;
}

@media (max-width: 1023px) {
    .product-box {
        flex-direction: column;
        align-items: center;
    }
    .product {
        margin-bottom: 32px;
    }
    .btn_ftr {
        padding: 7px 30px;
    }
    .text_margin-bottom {
        max-width: 350px;
    }
    .image_border {
        max-width: 100%;
    }
    .overlay_top:hover {
        background-size: contain;
    }
    .left_content {
        margin-right: 32px;
    }
    .image_content_footer {
        margin-bottom: 109px;
    }
    .footer {
        height: 644px;
    }
    .footer_btn {
        right: 15%;
    }
    .text_on_footer {
        left: 15%;
    }
    .text_footer_top {
        width: 336px;
        top: 215px;
    }
    .footer_bottom {
        height: 23%;
        margin: 5% 15% 0 15%;
        display: block;
    }
    .part_box {
        width: 100%;
        margin-bottom: 3%;
    }
    .all_rights {
        left: 15%;
    }
}

@media (max-width: 665px) {
    .top {
        min-height: 376px;
        padding-bottom: 16px;
    }
    .top__heading {
        font-size: 32px;
        margin-bottom: 12px;
        line-height: 37px;
    }
    .top__content {
        width: 100%;
        margin-top: 28px;
        text-align: center;
    }
    .top__back {
        background-image: none;
    }
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        padding-top: 16px;
    }
    .button {
        padding: 8px 16px;
    }
    .text_margin-bottom {
        max-width: 100%;
        text-align: center;
        margin-bottom: 32px;
    }
    .heading {
        font-size: 24px;
        line-height: 28px;
    }
}
